.nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(178, 249, 249);
    list-style: none;
    text-decoration: none;

}

img {
    height: 100px;
}

.nav-element {
    align-self: center;
}