@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  background-color: rgb(180, 186, 193);
}

